/* NSS Colors 
    Orange #f68b1f 
    Red    #f0452d
*/

body{
    background-color: lightgray;
}

/* Overrides Materialize Row and Card Action margin+padding  */
.card-row{
    margin: 0 !important;
}

.card-bottom{
    padding: 0 !important;
    margin: 0 !important;
    border-top: 4px solid #f0452d !important; 
}

/* Main Styles  */

.logo{
    height: 75px;
    width: auto;
    margin: 10px;
}

nav{
    height: 100px;
}

.top li{
    margin-top: 15px;
}

.slack-button{
    margin-top: 12px;

}


.til-textbox{
    padding: 20px;
    border-radius: 5px;
}

.card-row i{
    vertical-align: middle !important;
    margin-left: 15px;
    color:white;
}

#thumbsdown{
    margin-top: 15px;
}

.bottom-row{
    height: 70px;
}

.posted-by{
    padding-bottom: 5px !important;
}

.posted-by img{
    margin-right: 10px;
}

.poster-name{
    top: -10px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.time-box{
    margin-top: 25px;
}

.time{
    margin-right: 5px;
}

a.btn.comments-button {
  min-height: 42px;
  margin-top: 15px;
}

textarea:focus {
  border-bottom: 1px solid orange !important;
  -webkit-box-shadow: 0 1px 0 0 orange !important;
  -moz-box-shadow: 0 1px 0 0 orange !important;
  box-shadow: 0 1px 0 0 orange !important;

}

.avatar {
  max-height: 30px;
}
